trigger: none

pool: agent-pool-aman
steps:

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm Build'