trigger: none

pool: agent-pool-aman
steps:
- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm Build'